<main id="user-show">
  <%= render "shared/header" %>

  <%= react_component(
    'UserShow',
    activeSubscriptions: @active_subscriptions,
    inactiveSubscriptions: @inactive_subscriptions,
    user: @react_user)
  %>
</main>
