<header>
  <div id="navbar">
    <div class="u-size3of12">
      <div class="logo">
        <a title="HippoTales" href="/">
          <%= image_tag "hippotales_logo.png", class:"home-logo" %>
        </a>
      </div>
    </div>
    <div class="menus u-size9of12">
      <div class="login-container">
        <ul class="login">
          <li id="login-item1" class="login-item">
            <a href="#">Login</a>
          </li>
          <li id="login-item2"class="login-item">
            <a href="/contact">Contact Us</a>
          </li>
        </ul>
      </div>

      <div class="menu-container">
        <ul class="menu">
          <li id="menu-join" class="menu-item">
            <a href="/join">Join</a>
          </li>
          <li id="menu-our-box" class="menu-item">
            <a href="/our_box">Our Box</a>
          </li>
          <li id="menu-how-it-works" class="menu-item">
            <a href="/#how-it-works">How It Works</a>
          </li>
          <li id="menu-gift" class="menu-item">
            <a href="/gift">Gift</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>