<header>
  <div class="navbar">
    <div class="u-size3of12">
      <div class="logo">
        <a title="HippoTales" href="/">
          <%= image_tag "hippotales_logo.png", class:"home-logo" %>
        </a>
      </div>
    </div>
    <div class="menus u-size9of12">
      <div class="login-container">
        <ul class="login">
          <li id="login-item1" class="login-item">
            <a href="/login">Login</a>
          </li>
          <li id="login-item2"class="login-item">
            <a href="/contact">Contact Us</a>
          </li>
        </ul>
      </div>

      <div class="menu-container">
        <ul class="menu">
          <li id="menu-item1" class="menu-item">
            <a href="/join">Join</a>
          </li>
          <li class="menu-item">
            <a href="/our-box">Our Box</a>
          </li>
          <li class="menu-item">
            <a href="/how-it-works">How It Works</a>
          </li>
          <li class="menu-item">
            <a href="/gift">Gift</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

<body>
  <div id="slideshow-container">
    <div id="slide1">
    </div>
    <!-- <div id="slide2">
    </div>
    <div id="slide3">
    </div> -->
  </div>
</body>

// <script>
//   $(function(){
//       $('.fadein div:gt(0)').hide();
//       setInterval(function(){
//           $('.fadein :first-child').fadeOut()
//                                    .next('div')
//                                    .fadeIn()
//                                    .end()
//                                    .appendTo('.fadein');
//       }, 3000);
//   });
// </script>
