<main id="our-box">
  <%= render "shared/header" %>

  <div id="page-title">
    <h1>Our Box</h1>
  </div>

  <div id="books">
    <h3 class="title">
      Each box we send has 3 to 4 books that are age appropriate for your child. Below are some examples of boxes sent to our current subscribers:
    </h3>

    <section id="books-zero-one" class="book-section">
      <h3>Ages: 0 - 1</h3>
      <% @books0_1.each do |book| %>
        <%= render partial: "book", locals: { book: book } %>
      <% end %>
    </section>

    <section id="books-one-two" class="book-section">
      <h3>Ages: 1 - 2</h3>
      <% @books1_2.each do |book| %>
        <%= render partial: "book", locals: { book: book } %>
      <% end %>
    </section>

    <section id="books-three-six" class="book-section">
      <h3>Ages: 3 - 6</h3>
      <% @books3_6.each do |book| %>
        <%= render partial: "book", locals: { book: book } %>
      <% end %>
    </section>
  </div>
</main>
