@import "colors";
@import "fonts";
@import "mixins";

#join {
  .subscription-container {
    width: 70%;
    margin: 0 auto;
    padding: 50px 0;
  }

  h3 {
    margin: 50px 0 35px;
    font-size: 1.2em;
    text-align: center;
  }

  h4 {
    margin: 45px 0 15px;
  }

  input[type=text],
  input[type=email],
  input[type=date],
  input[type=password],
  select {
    display: inline-block;
    width: 100%;
    border-radius: 0;
  }

  .color-gray {
    color: $light-gray !important;
  }

  .subscription-nav {
    padding: 50px 0;

    .nav-item {
      display: inline;
      text-align: center;
      cursor: pointer;
    }

    .Grid-cell {
      text-align: center;
      border-right: 1px solid $light-gray;
    }

    .active {
      color: black;
      font-weight: bold;
    }

    .inactive {
      color: $light-gray;
    }
  }

  .subscription-options {
    padding: 10px;
    margin-top: 40px;
    text-align: center;

    .selected {
      background-color: $lightest-gray;
      border: 1px solid $light-gray;
      @include classTransition;
    }

    .subscription-option {
      padding: 15px;

    }

    .subscription-info {
      margin-bottom: 23px;
    }

    span {
      display: block;
      margin: 0 0 3px 3px;
    }

    .month-number {
      display: inline-block;
      font-family: $cabin-sketch-family;
      font-size: 2em;
      color: $base-green;
      margin-right: 3px;
    }
  }

  .child-birthday {
    label {
      position: absolute;
      vertical-align: middle;
      margin: 15px 0;
    }

    input {
      -webkit-padding-after: 0.7em;
    }
  }

  .billing-address-checkbox label, .gift-message-checkbox label, .checkbox input {
    cursor: pointer;
  }

  .gift-message textarea {
    height: 120px;
    width: 70%;
  }

  .form-section {
    border-bottom: 3px solid $base-green;
    padding-bottom: 50px;
  }

  .float-right {
    float: right;
  }

  h4.billing-address, .billing-address-checkbox {
    margin-top: 50px;
    margin-bottom: 5px;
  }

  .checkbox {
    margin-left: 15px;
    padding-bottom: 15px;

    input[type=checkbox] {
      width: 15px;
      vertical-align: middle;
    }

    label {
      vertical-align: middle;
      margin-left: 6px;
    }
  }

  .terms-conditions-checkbox {
    margin-top: 50px;
    padding: 10px;
  }

  .terms-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }

/* Modal overlay */
/* ****************************************************** */
  .modal-overlay-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(84, 84, 84, .5);
    z-index: 1000000;
  }

  /* http://stackoverflow.com/questions/2005954/center-element-with-positionfixed */
  #terms-conditions {
    position: absolute;
    top: 15%;
    width: 100%;
    margin: 0 auto;
    z-index: 1000001;
  }

  .close-button {
    font-size: 25px;
    width: 35px;
    height: 35px;
    color: white;
    border: 3px solid white;
    border-radius: 50%;
    text-align: center;
    float: right;
    cursor: pointer;
    margin-top: -34px;
    margin-left: 6px;
  }

  .Grid-cell {
    margin: 0 auto;
  }

  .modal-overlay-content {
    height: 600px;
    padding: 50px;
    background: white;
    color: black;
    overflow: scroll;
    border: 10px solid $dark-gray;

    h3 {
      margin-top: 0;
    }

    .modal-overlay-body {
      border: 3px solid black;
      padding: 15px;
    }
  }

  /* Confirm subscription page */
  /* ****************************************************** */
  .confirm-subscription-wrapper {
    h2 {
      text-align: center;
      margin: 50px 0;
    }

    .confirm-subscription {
      width: 80%;
      margin: 0 auto;

      .confirm-subscription-border {
        border: 3px solid black;
      }

      .confirm-subscription-type {
        margin-top: 60px;
        text-align: center;
        color: $base-green;
      }

      .confirm-subscription-info {
        text-align: center;
        padding: 15px 70px 70px;
      }

      .confirm-section {
        padding: 0 30px;
        border: 1px solid red;
      }

      h3 {
        margin: 20px 0 15px;
      }

      h4 {
        margin: 15px 0 5px;
      }

      .confirm-buttons .button {
        margin: 50px auto;
        display: inline;
      }
    }
  }

  /* Braintree */
  /* ****************************************************** */
  #checkout {
    margin-top: 25px;

    input[type=submit] {
      margin-top: 50px;
    }

    button#braintree-paypal-button {
      background-color: $base-green
    }
  }
}
