$book-green-color: rgb(0, 139, 139);
$book-green-color-light: rgb(0, 154, 139);
$blue-background: rgb(225, 240, 237);
$header-footer-blue: rgb(185, 223, 222);
$selected-menu-item: rgb(85, 85, 85);
$link-green: rgb(119, 151, 138);
$button-yellow: rgb(223, 218, 73);
$menu-green: rgb(170, 193, 114);
$error-red: rgb(178, 64, 0);
