@import "colors";

.button, .button-yellow {
  width: 140px;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 15px 25px;
  font-size: 1.3em;
  border-radius: 3px;
}

.button {
  color: white;
  background-color: $book-green-color;
}

.button:hover {
  background-color: $book-green-color-light;
}

.button-yellow {
  background-color: $button-yellow;
}

.button-yellow:hover {
  background-color: $button-yellow-light;
}
