//= depend_on_asset "baby-picture1.jpg"
@import "colors";
@import "fonts";

.contact-info {
  width: 60%;
  margin: 0 auto;
  padding: 30px 0;

  .address-phone {
    padding: 15px 0;
  }

  h2 {
    font-size: 36px;
    font-weight: bold;
  }
  p {
    line-height: 1.4;
  }
  a {
    line-height: 1.8;
    color: $link-green;
  }
}

.email-form {
  padding: 40px 10px;

  #comments {
    width: 80%;
    height: 100px;
  }


}
