@import "colors";

input[type=text],
input[type=email],
input[type=date],
input[type=password],
textarea,
select {
  display: block;
  width: 50%;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  outline: none;
  padding: 10px 0px 10px 15px;
  margin: 20px 1px 20px 0px;
  border: 1px solid #DDDDDD;
  background: transparent;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=date]:focus,
input[type=password]:focus,
textarea:focus,
select:focus {
  box-shadow: 0 0 5px $book-green-color;
  padding: 10px 0px 10px 15px;
  margin: 20px 1px 20px 0px;
  border: 1px solid $book-green-color;
}

select, select:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px 0 10px 15px;
}

input[type=text],
input[type=email],
input[type=date],
input[type=password],
select {
  width: 40%;
}

textarea {
  width: 70%;
}

input[type=submit] {
  font-size: .9em;
  font-weight: 300;
  padding: 12px 15px;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

input[type=submit].button-yellow {
  background: $button-yellow;
}

input[type=submit].button-yellow {
  background: $button-yellow;
}

input[type=submit]:disabled {
  color: grey;
  cursor: default;
}

input[type=submit]:hover, a.submit {
  -moz-transition:all .2s ease;
  -o-transition:all .2s ease;
  -webkit-transition:all .2s ease;
  background: $book-green-color-light;
  color: white;
}