$book-green-color: rgb(0, 139, 139);
$muli-family: "Muli", arial, sans-serif;
$arvo-family: "Arvo", serif;
$cabin-sketch-family: "Cabin Sketch", "Muli", arial, sans-serif;

/* ########################################### */
/* HOMEPAGE HEADER */
/* ########################################### */

#navbar {
  width: 78%;
  margin: 0 auto;
  height: 160px;
  position: relative;
}

.logo, .login-container, .menu-container {
  position: absolute;
}

.login-container {
  top: 0;
}

.home-logo {
  width: 130px;
  padding: 5px;
}

.logo {
  top: 10px;
  left: 0;
  background-color: white;
  /* Used to make the original design with transparent circular background */
  /*top: -30px;
  padding: 40px;
  border-radius: 150px;*/
}

.menus {
  right: 0;
  float: right;
  height: 150px;
}

.login-container, .menu-container {
  right: 0;
  float: right;
}

.login-container {
  margin-top: 0;
}

.login {
  padding: 12px 30px 12px 30px;
  background-color: $book-green-color;
  border-radius: 0 0 10px 10px;
}

#login-item1 {
  border-right: 1px white dashed;
  padding-right: 25px;
}

#login-item2 {
  padding-left: 15px;
}

.menu-container {
  bottom: 10px;
}

.menu .menu-item {
  margin-left: 20px;
  margin-right: 0;
}

.menu-item a, .menu-item a:hover {
  -moz-transition:color .2s ease;
  -o-transition:color .2s ease;
  -webkit-transition:color .2s ease;
}

/* TODO: use JS to add .active-menu-item to selected tab */
.menu-item a:hover, .menu .active-menu-item a {
  color: rgb(85, 85, 85);
}

.login-item, .menu-item {
  font-family: $muli-family;
  display: inline-block;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
}

.login a {
  color: white;
  font-size: 1.1em;
}

.menu a {
  color: rgb(170, 193, 114);
  font-size: 1.5em;
  font-family: $arvo-family;
}

/* ########################################### */
/* HOMEPAGE SLIDESHOW */
/* ########################################### */

/* TODO: Add media queries for variable height */
#baby-picture1, #baby-picture2, #baby-picture3 {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 607px;
}

#baby-picture1 {
  background-image: url("baby-picture1.jpg");
}

#baby-picture2 {
  background-image: url("baby-picture2.jpg");
}

#baby-picture3 {
  background-image: url("baby-picture3.jpg");
}

/* ########################################### */
/* HOMEPAGE SUBSCRIPTION INFO */
/* ########################################### */

#subscription-info-container {
  padding: 50px 70px;
  background-color: rgb(225, 240, 237);
}

#info-sections {
  /*position: relative;*/
}

#info-sections p {
  font-family: $muli-family;
  line-height: 1.5;
  padding-bottom: 45px;
}

#our-box-info, #purchase-gift-info {
  padding: 50px;
  display: inline-block;
  top: 0;
  width: 49%;
}

#purchase-gift-info {
  float: right;
}

.clear {
  clear: both;
}

h2 {
  text-align: center;
  color: $book-green-color;
  font-family: $muli-family;
  font-size: 36px;
  font-weight: 400;
  display: inline-block;
}

.cursive {
  font-family: $cabin-sketch-family;
}

.info-image {
  padding-right: 20px;
}

.info-header {
  vertical-align: middle;
  margin: 0 auto;
  padding-bottom: 15px;
}

.info-title, .info-image {
  display: inline-block;
  vertical-align: middle;
}

.button, .button-yellow {
  width: 140px;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 15px 25px;
  font-size: 1.3em;
  border-radius: 15px;
}

.button {
  color: white;
  background-color: $book-green-color;
}

.button-yellow {
  background-color: rgb(223, 220, 56);
}

.learn-more {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: rgb(133, 162, 151);
  padding-top: 5px;
}

.section-triangle-container {
  width: 100px;
  height: 100px;
}

.section-triangle {
  margin: 0 auto;
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 40px solid rgb(225, 240, 237);
}

/* ########################################### */
/* HOMEPAGE THREE SIMPLE STEPS */
/* ########################################### */

#three-steps {
  height: 500px;
}
