$book-green-color: rgb(0, 139, 139);
$blue-background: rgb(225, 240, 237);
$muli-family: "Muli", arial, sans-serif;
$arvo-family: "Arvo", serif;
$cabin-sketch-family: "Cabin Sketch", "Muli", arial, sans-serif;

.cursive {
  font-family: $cabin-sketch-family;
}

body {
  margin: 0;
}

/* ########################################### */
/* HOMEPAGE HEADER */
/* ########################################### */

#navbar {
  width: 78%;
  margin: 0 auto;
  height: 160px;
  position: relative;
}

.logo, .login-container, .menu-container {
  position: absolute;
}

.login-container {
  top: 0;
}

.home-logo {
  width: 130px;
  padding: 5px;
}

.logo {
  top: 10px;
  left: 0;
  background-color: white;
  /* Used to make the original design with transparent circular background */
  /*top: -30px;
  padding: 40px;
  border-radius: 150px;*/
}

.menus {
  right: 0;
  float: right;
  height: 150px;
}

.login-container, .menu-container {
  right: 0;
  float: right;
}

.login-container {
  margin-top: 0;
}

.login {
  padding: 12px 30px 12px 30px;
  background-color: $book-green-color;
  border-radius: 0 0 10px 10px;
}

#login-item1 {
  border-right: 1px white dashed;
  padding-right: 25px;
}

#login-item2 {
  padding-left: 15px;
}

.menu-container {
  bottom: 10px;
}

.menu .menu-item {
  margin-left: 20px;
  margin-right: 0;
}

.menu-item a, .menu-item a:hover {
  -moz-transition:color .2s ease;
  -o-transition:color .2s ease;
  -webkit-transition:color .2s ease;
}

/* TODO: use JS to add .active-menu-item to selected tab */
.menu-item a:hover, .menu .active-menu-item a {
  color: rgb(85, 85, 85);
}

.login-item, .menu-item {
  font-family: $muli-family;
  display: inline-block;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
}

.login a {
  color: white;
  font-size: 1.1em;
}

.menu a {
  color: rgb(170, 193, 114);
  font-size: 1.5em;
  font-family: $arvo-family;
}

/* ########################################### */
/* HOMEPAGE SLIDESHOW */
/* ########################################### */

#homepage {
  font-family: $muli-family;
}

/* TODO: Add media queries for variable height */
#baby-picture1, #baby-picture2, #baby-picture3 {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 607px;
}

#baby-picture1 {
  background-image: url("baby-picture1.jpg");
}

#baby-picture2 {
  background-image: url("baby-picture2.jpg");
}

#baby-picture3 {
  background-image: url("baby-picture3.jpg");
}

/* ########################################### */
/* HOMEPAGE SUBSCRIPTION INFO */
/* ########################################### */

#subscription-info-container {
  padding: 50px 70px;
  background-color: $blue-background;
}

#info-sections p {
  line-height: 1.5;
  padding-bottom: 45px;
}

#our-box-info, #purchase-gift-info {
  padding: 50px;
  display: inline-block;
  top: 0;
  width: 49%;
}

#purchase-gift-info {
  float: right;
}

.clear {
  clear: both;
}

h2 {
  text-align: center;
  color: $book-green-color;
  font-size: 36px;
  font-weight: 400;
  display: inline-block;
}

.info-image {
  padding-right: 20px;
}

.info-header {
  vertical-align: middle;
  margin: 0 auto;
  padding-bottom: 15px;
}

.info-title, .info-image {
  display: inline-block;
  vertical-align: middle;
}

.button, .button-yellow {
  width: 140px;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 15px 25px;
  font-size: 1.3em;
  border-radius: 15px;
}

.button {
  color: white;
  background-color: $book-green-color;
}

.button-yellow {
  background-color: rgb(223, 218, 73);
}

.learn-more {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: rgb(133, 162, 151);
  padding-top: 5px;
}

.section-triangle-container {
  width: 100px;
  height: 100px;
}

.section-triangle {
  margin: 0 auto;
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 40px solid $blue-background;
}

/* ########################################### */
/* HOMEPAGE THREE SIMPLE STEPS */
/* ########################################### */

#three-steps, #testimonials {
  padding: 30px 0;

  h1 {
    text-align: center;
    font-size: 56px;
    font-weight: 400;
    padding: 30px;
  }

  .button, .button-yellow {
    display: inline;
    margin: 0 auto;
    margin: 10px 20px;
  }
}

.sign-up-links {
  margin-top: 110px;
  margin-bottom: 80px;
  text-align: center;
}

#simple-steps {
  width: 80%;
  margin: 0 auto;
  font-size: 1.2em;

  img {
    margin-top: 15px;
    margin-bottom: 25px;
  }
  h2 {
    width: 100%;
    color: black;
  }
  .link {
    text-decoration: underline;
    color: rgb(119, 151, 138);
  }
}

.simple-step {
  display: inline-block;
  text-align: center;

  h3 {
    margin: 0 auto;
    width: 80%;
    font-weight: 100;
  }
}

#testimonials {
  background-color: rgb(247, 247, 247);
  text-align: center;

  #quotes {
    width: 80%;
    margin: 30px auto;

    .quote {
      margin: 0 auto;

      p {
        font-style: italic;
        text-align: center;
        line-height: 1.4;
        width: 90%;
        margin: 0 auto;
        font-size: 1.3em;
      }

      .author {
        margin-top: 30px;
        color: rgb(119, 151, 138);
      }
    }
  }
}

.author {

}

#social-media {
  height: 200px;
}

/*==============================================*/
/*STICKY FOOTER CSS HERE*/
/*http://css-tricks.com/snippets/css/sticky-footer/*/
/*==============================================*/

.whole-page-wrap {
  min-height: 100%;
  /*This margin height is equal to the footer height*/
  margin-bottom: -125px;
}

.whole-page-wrap:after {
  content: "";
  display: block;
  background-color: $blue-background;
}
footer, .whole-page-wrap:after {
  /* .push must be the same height as footer */
  height: 125px;
}

footer {
  background-color: $blue-background;
  width: 100%;
  bottom: 0;
  text-align: center;
  margin-top: 125px;

  li {
    display: inline-block;
    padding: 10px 25px;
  }

  span {
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    border-top: 1px dashed #4B4B4B;
    position: relative;
    bottom: -6px;
    font-weight: 200;
    width: 90%;
  }
}
